h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: orangered;
}
h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: green;
}